
	
ul#quotes li {

	border: 1px #dbeaef solid;
    margin-right: 20px;
    padding: 20px;
}


ul#quotes li.col-md span:nth-child(2){
 
	padding-right:10px;
}

ul#quotes li h3 {
	padding-bottom: 10px;
	/*background: url(/web/20221217031443im_/https://d3i1arz3ln2jfe.cloudfront.net/quotes/sample) right top no-repeat !important;*/
	


}

ul#quotes li#EURUSD h3 {



}



ul#quotes li.col-md span:nth-child(3){
  color: #687377 !important;
  padding-right:10px;
  font-weight:600;
}

ul#quotes li.col-md span:nth-child(4){
    color: #687377 !important;
	font-weight:100 !important;
	padding-right:10px;
}


.content-quotes {
	padding-left:5%;
	padding-right:5%;
	padding-bottom:0px;
}



@media only screen and (max-width: 768px) {
  .content-quotes  {
    display:none;
  }
}	




@media (min-width: 768px) and (max-width: 790px) {
  
  
  
ul#quotes li.col-md {
	margin-bottom:20px;
  }
  
ul#quotes li#AUDUSD {
		display:none !important;
	}
  
}



@media (min-width: 791px) and (max-width: 992px) {
  
  
  
ul#quotes li.col-md {
	margin-bottom:20px;
  }
  
ul#quotes li#AUDUSD {
		display:none !important;
	}
 
ul#quotes li#USDJPY {
		display:none !important;
	}
	
ul#quotes li#USDCAD {
		display:none !important;
	}
	
}



@media (min-width: 1000px) and (max-width: 1475px) {
  
  
  
ul#quotes li.col-md {
	margin-bottom:20px;
  }
  
ul#quotes li#AUDUSD {
		display:none !important;
	}
 
ul#quotes li#USDJPY {
		display:none !important;
	}
	
ul#quotes li#USDCAD {
		display:none !important;
	}
	
}
/*
     FILE ARCHIVED ON 03:14:43 Dec 17, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:56:44 Dec 29, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 127.895
  exclusion.robots: 0.058
  exclusion.robots.policy: 0.053
  cdx.remote: 0.079
  esindex: 0.006
  LoadShardBlock: 96.676 (3)
  PetaboxLoader3.datanode: 138.288 (4)
  CDXLines.iter: 17.711 (3)
  load_resource: 94.886
  PetaboxLoader3.resolve: 46.128
*/